body{
    margin: 0 0 0 0;
    font-family: verdana, sans-serif;
}
a{
    text-decoration: none;
}

.banner{

    text-align: center;
    background-color: #d8d8d8; color: #0101df;
    font-size: 20px;
    box-shadow: 2px 2px 1px #888888;
}
.banner-date{
    text-align: right;
    background-color: #d8d8d8;
    font-size: 14px;
    box-shadow: 2px 2px 1px #888888;
}

.navigation{
    position: absolute;
    margin: 0 0 0 5px;
    top: 50px;
    width: 350px;
    overflow-y: auto;
    background-color: #d8d8d8;
    box-shadow: 2px 2px 1px #888888;
    border: 0 dotted; border-radius: 2px;
}
.navigation-header{
    font-size: 20px;
    background-color: #d8d8d8;
    text-align: center;
    box-shadow: 2px 2px 1px #888888;
}

.suite-window {
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
}
.suite-window-top {
    border-top-right-radius: 10px 10px;
    border-top-left-radius: 10px 10px;
}
.suite-windows-title {
    margin-top: 10px;
    width: 80%;
    border-style: solid;
    border-width: 1px 0 0 0;
    font-size: 14px;
}
.suite-windows-content {
    list-style-image: url(img/passed.png);
}
.navigator-suite-content {
    margin-left: 10px;
    font-size: 14px;
}
.suite-name {
    padding-left: 10px;
    font-size: 16px;
}
.border-passed {
    border-style: solid;
    border-width: 0 0 0 10px;
}
.navigator-selected {
    background: #ffa500;
}
.collapse-all-icon {
    padding: 5px;
    float: right;
}
.wrapper {
    position: absolute;
    top: 50px; left: 360px;
    height: 81.5%;
    right: 5px;
    overflow-y: auto;
    background-color: #d8d8d8;
    box-shadow: 2px 2px 1px #888888;
    border: 0 dotted; border-radius: 2px;
}
.main-panel-header {
    padding: 5px;
    background-color: #9FB4D9;
    font-family: monospace;
    font-size: 18px;
}

.footer{
    position:absolute;
    bottom: 0; right: 0; left: 0;
    height:60px;
    background: #d8d8d8;
}
