body{
    margin: 0 0 5px 5px;
}
.header{
    border: 1px dotted;
    background-color: beige;
    left: 0;
    padding: 5px;
    position: absolute;
    height: 45px;
    right: 0;
    text-align: center;
}
.left-navigation{
    left: 0;
    bottom: 0;
    overflow-y: auto;
    position: absolute;
    width: 400px;
    /*background-color: burlywood;*/
    top: 60px;
}
.left-navigation-header{
    background-color: #DEB887;
    font-size: 22px;
    text-align: center;
    margin: 0 10px 5px 0;
}
.collapse-all{
    float: right;
    padding: 5px;
}
.test-suite{
    border-radius: 7px;
    border: 1px solid;
}

.wrapper{
    bottom: 0;
    left: 400px;
    overflow-y: auto;
    /*background-color: aqua;*/
    right: 0;
    position: absolute;
    top: 60px;
}
.main-panel-header{
    background-color: #9FB4D9;
    padding: 5px;
    /*font-family: monospace;*/
    font-size: 18px;
}

.rounded-window-top{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border: 1px solid;
    overflow: auto;
}